*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:#f5f7fb;
color:#333;
line-height:1.6;
}

.hero{
height:90vh;
background:
linear-gradient(rgba(0,0,0,.65),rgba(0,0,0,.65)),
url("images/front.jpeg");
background-size:cover;
background-position:center;
display:flex;
justify-content:center;
align-items:center;
text-align:center;
color:white;
}

.overlay{
padding:20px;
}

.hero h1{
font-size:60px;
margin-bottom:15px;
}

.hero p{
font-size:22px;
margin-bottom:15px;
}

.price{
font-size:42px;
font-weight:bold;
color:#ffd700;
margin:20px 0;
}

.btn{
background:#25D366;
color:white;
padding:14px 30px;
text-decoration:none;
border-radius:8px;
font-weight:bold;
}

section{
padding:70px 10%;
}

h2{
text-align:center;
margin-bottom:30px;
color:#1e3a8a;
}

.about{
background:white;
}

.grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
gap:20px;
}

.card{
background:white;
padding:25px;
text-align:center;
border-radius:12px;
box-shadow:0 0 10px rgba(0,0,0,.1);
}

.gallery-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
gap:20px;
}

.gallery-grid img{
width:100%;
border-radius:12px;
box-shadow:0 0 10px rgba(0,0,0,.2);
}

.fee{
background:#1e3a8a;
color:white;
text-align:center;
}

.fee-box{
background:white;
color:black;
padding:30px;
border-radius:12px;
max-width:350px;
margin:auto;
}

.fee-box h3{
font-size:40px;
color:#1e3a8a;
}

.location{
text-align:center;
}

.map-btn{
display:inline-block;
margin-top:20px;
padding:12px 25px;
background:#2563eb;
color:white;
text-decoration:none;
border-radius:8px;
}

.contact{
text-align:center;
background:white;
}

.whatsapp{
position:fixed;
right:20px;
bottom:20px;
background:#25D366;
color:white;
padding:15px 20px;
border-radius:50px;
text-decoration:none;
font-weight:bold;
}

footer{
background:#111827;
color:white;
text-align:center;
padding:20px;
}

@media(max-width:768px){

.hero h1{
font-size:38px;
}

.hero p{
font-size:18px;
}

.price{
font-size:30px;
}

section{
padding:50px 6%;
}
}
